:root {
  --base-fontsize: 1.0rem;
}

body {
  max-width: 100%;
  padding: 0px;
  margin: 0px;
}

pre {
  font-size: 1.0rem;
}

#app {
  flex-flow: column wrap;
}

.svgicon {
  height: 1em;
  width: auto;
  padding: 2px;
}
